abrt
evolution
gnome-initial-setup-done
goa-1.0
monitors.xml
pulse
user-dirs.locale
dconf
gnome-boxes
gnome-session
gtk-3.0
ibus
libvirt
nautilus
user-dirs.dirs
.gsd-keyboard.settings-ported
BraveSoftware
libreoffice
mimeapps.list
totem
qBittorrent
pavucontrol.ini
org.gnome.Ptyxis
connections.db
JetBrains
autostart
dunst
fuzzel
enchant/
google-chrome/
GitKraken
lazygit
okularrc
